<div id="div_clientes">      
        <table id="tabela_clientes">
          <tbody>
            <tr>
              <th>id</th>
              <th>Nome</th>
              <th>CPF</th> 
              <th>Endereço</th>
              <th>Data de Nascimento</th>
              <th>Telefone</th>
              <th>Telefone (2)</th>
            </tr>
          </tbody>
          </table>
    </div>