<div id="div_funcionarios">      
        <table id="tabela_funcionarios">
            <tr>
              <th>id</th>
              <th>Nome</th>
              <th>CPF</th> 
              <th>Tipo</th>
              <th>Data de Admissão</th>
              <th>Senha de Acesso</th>
              <th> </th>
              <th> </th>
            </tr>

          </table>
          
    </div>