<div id="div_produtos">      
        <table id="tabela_produtos">
          <tbody>
            <tr>
              <th>id</th>
              <th>Descricao</th>
              <th>Valor</th> 
              <th>Saldo em Estoque</th>>
            </tr>
          </tbody>
          </table>
    </div>