<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="btn_div_cadastrar">cadastrar</button>
    <button id="btn_div_funcionarios">funcionarios</button>
    <button id="btn_div_clientes">clientes</button>
    <button id="btn_div_produtos">produtos</button>
    <button id="btn_div_compra">compra</button>

    <% include partials/cadastrar %>
    <% include partials/funcionarios %>
    <% include partials/clientes %>
    <% include partials/produtos %>

    <div id="div_compra">
      <h3>compra</h3>
      <select id="select_cliente">
        <option>cliente</option>
      </select>
      <select id="select_funcionario">
          <option>funcionario</option>
        </select>
        <div id="div_compra">      
            <table id="tabela_compra">
              <tbody>
                <tr>
                  <th>id</th>
                  <th>Descricao</th>
                  <th>Quantidade</th>
                  <th>Preço</th> 
                  <th>Sub Total</th>                 
                </tr>
              </tbody>
            </table>
            <input id="valorTotal" readonly></input>
            <button id="btn_realizar_compra">comprar</button>
        </div>
        <button id="btn_add_pro">adicionar</button>
        <div id="div_produto_compra">
        <select id="select_produtos_compra">
        </select>
          <input id="pro_valor_compra" type="text" readonly>
          <input id="pro_quantidade_compra" type="number">
          <button id="btn_add_pro_compra" >add</button>
        </div>

    </div>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.js"></script>
    <script src="../javascript/funcionarios.js"></script>
    <script src="../javascript/clientes.js"></script>
    <script src="../javascript/produtos.js"></script>
    <script src="../javascript/cadastrar.js"></script>
    <script src="../javascript/script.js"></script>
  </body>
</html>
